<div layout="column" style="height: 100%;" class="msw-grid">
  <div flex="33">
    <div layout="row" style="height: 100%">
      <p flex="33" style="margin: 0.75em 0 0 0.75em">A</p>
      <p flex="33" style="margin: 0.75em 0 0 0.75em">B</p>
      <p flex="33" style="margin: 0.75em 0.75em 0 0.75em">C</p>
    </div>
  </div>
  <div flex="33">
    <div layout="row" style="height: 100%">
      <p flex="33" style="margin: 0.75em 0 0 0.75em">A</p>
      <p flex="33" style="margin: 0.75em 0 0 0.75em">B</p>
      <p flex="33" style="margin: 0.75em 0.75em 0 0.75em">C</p>
    </div>
  </div>
  <div flex="33">
    <div layout="row" style="height: 100%">
      <p flex="33" style="margin: 0.75em 0 0.75em 0.75em">A</p>
      <p flex="33" style="margin: 0.75em 0 0.75em 0.75em">B</p>
      <p flex="33" style="margin: 0.75em 0.75em 0.75em 0.75em">C</p>
    </div>
  </div>
</div>

<div layout="column" style="height: 100%;" class="msw-grid">
  <div flex="33">
    <div layout="row" style="height: 100%">
      <p flex="33" style="margin: 0.75em 0 0 0.75em">A</p>
      <p flex="33" style="margin: 0.75em 0 0 0.75em">B</p>
      <p flex="33" style="margin: 0.75em 0.75em 0 0.75em">C</p>
    </div>
  </div>
  <div flex="33">
    <div layout="row" style="height: 100%">
      <p flex="33" style="margin: 0.75em 0 0 0.75em">A</p>
      <p flex="33" style="margin: 0.75em 0 0 0.75em">B</p>
      <p flex="33" style="margin: 0.75em 0.75em 0 0.75em">C</p>
    </div>
  </div>
  <div flex="33">
    <div layout="row" style="height: 100%">
      <p flex="33" style="margin: 0.75em 0 0.75em 0.75em">A</p>
      <p flex="33" style="margin: 0.75em 0 0.75em 0.75em">B</p>
      <p flex="33" style="margin: 0.75em 0.75em 0.75em 0.75em">C</p>
    </div>
  </div>
</div>

<style>
  .msw-grid p {
    border: 1px dashed #1b1b1b;
    padding: 0.5em;
  }
</style>

<!--
<div layout="column" style="height: 100%; background: red;">
  <div flex="50" style="background: darkgray; padding: 5px; margin: 10px">
    50 {{ctrl.dashboards}}<br>
  </div>
  <div flex="50" style="background: dimgray; padding: 5px;">
    <div layout="row" style="height: 100%">
      <p flex="33" style="margin: 10px">A</p>
      <p flex="33" style="margin: 10px">B</p>
      <p flex="33" style="margin: 10px">C</p>
    </div>
  </div>
</div>-->
